/* Page Container */
.addtojob-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  height: calc(100vh - 70px);
}

/* Form */
.addtojob-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
/* Label */
.addtojob-label {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

/* Select */
.addtojob-select {
  width: 300px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 16px;
  color: #333;
  background-color: #fff;
  cursor: pointer;
}

.addtojob-option {
  font-size: 16px;
  color: #333;
  background-color: #fff;
  cursor: pointer;
}

.addtojob-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
